In [1]:
x=78.98

In [2]:
x

78.98

In [3]:
range(20,120)

range(20, 120)

In [4]:
range[0][1]

TypeError: 'type' object is not subscriptable

In [6]:
for i in range (20,120): print (21, end=',')

21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,

In [7]:
input start=20 end=120

SyntaxError: invalid syntax (<ipython-input-7-14c7cc1115c5>, line 1)

In [8]:
input start=21, end=120

SyntaxError: invalid syntax (<ipython-input-8-04e79287a2d1>, line 1)

In [9]:
for num in range(20, 120 + 1):

SyntaxError: unexpected EOF while parsing (<ipython-input-9-527f359eab86>, line 1)

In [11]:
for i in range (20,120): print (21, 120, end=',')

21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,21 120,

In [12]:
for number in range(20, 120 + 1):
    if(number % 2 != 0):
        print("{0}".format(number))

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119

In [1]:
import pandas as pd

In [9]:
dfm= pd.read_csv("data/imdb_data_100.csv", index_col='Rank')

In [11]:
dfm.head(2)

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

In [6]:
x = dfm['Rank']

In [7]:
x.count()==len(set(x))

True

In [10]:
dfm.head(2)

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0