In [3]:
import pandas as pd

In [6]:
df = pd.read_csv("data/imdb_1000_clean.csv", index_col='Rank')

In [8]:
df.head(2)

,title,genre,description,director,actors,year,runtime_minutes,rating,votes,revenue_millions,metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

In [9]:
df.isnull().sum()

title               0
genre               0
description         0
director            0
actors              0
year                0
runtime_minutes     0
rating              0
votes               0
revenue_millions    0
metascore           0
dtype: int64

In [10]:
df.shape

(1000, 11)

In [11]:
df_movies_one=df.copy()

In [12]:
df_movies_one.describe()

,year,runtime_minutes,rating,votes,revenue_millions,metascore
count,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,3.205962,18.810908,0.945429,1.887626e+05,96.412043,16.634858
min,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.750000
50%,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,58.985043
75%,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,71.000000
max,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### Mean, Median , Mode
### Standard Deviation and variance
### Skewness
### What is normal distribution?
### Kurtosis

## Different Charts
* Line graph - Data collected overtime, Time Series. Trend of data
* Pie chart - categorical data e.g. less than 10 categories.  Display count/sum
* Bar graph - Many categories/Time Series/....
* Scatter plot - Distribution of data points/ Trend
* Boxplot - Max/Min of outliers...Distribution. Trend.

In [26]:
gn = df_movies_one['genre']

In [27]:
gn.value_counts().head(10)

Action,Adventure,Sci-Fi       50
Drama                         48
Comedy,Drama,Romance          35
Comedy                        32
Drama,Romance                 31
Action,Adventure,Fantasy      27
Comedy,Drama                  27
Animation,Adventure,Comedy    27
Comedy,Romance                26
Crime,Drama,Thriller          24
Name: genre, dtype: int64