In [40]:
import numpy as np

## Single Dimensional Array

In [41]:
ls1 = [4,5,6,4,5]

In [42]:
arr1 = np.array(ls1)

In [43]:
print(ls1)

[4, 5, 6, 4, 5]

In [44]:
ls1.sort()

In [45]:
ls1

[4, 4, 5, 5, 6]

In [46]:
arr1.sort()

In [47]:
arr1

array([4, 4, 5, 5, 6])

In [48]:
len(ls1)

5

In [49]:
len(arr1)

5

In [50]:
x = sum(ls1)

In [51]:
x

24

In [52]:
y = sum(arr1)

In [53]:
y

24

In [54]:
from statistics import mean
ml = mean(ls1)
ml

4.8

In [55]:
al = arr1.mean()
al

4.8

In [56]:
mt = mean(arr1)
mt

4

In [57]:
arr1.ndim

1

## Multi Dimensional Array

In [58]:
ls2 = [[23,np.nan,np.nan,87,2,3],[34,78,np.nan,3,46,24],[56,28,np.nan,4,43,40]]
ls2

[[23, nan, nan, 87, 2, 3], [34, 78, nan, 3, 46, 24], [56, 28, nan, 4, 43, 40]]

In [59]:
print(type(np.nan))

<class 'float'>

In [60]:
arr2 = np.array(ls2)
arr2

array([[23., nan, nan, 87.,  2.,  3.],
       [34., 78., nan,  3., 46., 24.],
       [56., 28., nan,  4., 43., 40.]])

In [61]:
arr2.shape

(3, 6)

In [62]:
arr2.ndim

2

In [63]:
arr2.dtype

dtype('float64')

In [64]:
arr3 =arr2

In [65]:
arr3

array([[23., nan, nan, 87.,  2.,  3.],
       [34., 78., nan,  3., 46., 24.],
       [56., 28., nan,  4., 43., 40.]])

In [66]:
arr2

array([[23., nan, nan, 87.,  2.,  3.],
       [34., 78., nan,  3., 46., 24.],
       [56., 28., nan,  4., 43., 40.]])

In [67]:
arr2m = arr2.mean()

In [68]:
arr2m

nan

In [69]:
arr2

array([[23., nan, nan, 87.,  2.,  3.],
       [34., 78., nan,  3., 46., 24.],
       [56., 28., nan,  4., 43., 40.]])

In [70]:
arr2m= np.nanmean(arr2)
arr2m

33.642857142857146

In [71]:
np.nanmean(arr2,)

33.642857142857146

In [72]:
arr2mx =np.nanmax(arr2)

In [73]:
arr2mx

87.0

In [74]:
arr2min = np.nanmin(arr2)

In [75]:
arr2min

2.0

In [76]:
m1 = np.nanmean(arr2, axis=0)

C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: Mean of empty slice
  """Entry point for launching an IPython kernel.

In [77]:
m1

array([37.66666667, 53.        ,         nan, 31.33333333, 30.33333333,
       22.33333333])

In [78]:
arr5 = np.array(ls5)
arr5

NameError: name 'ls5' is not defined

In [ ]:
arr5m = arr5.mean()
arr5m

In [ ]:
arr5.shape

In [ ]:
ml5 = np.nanmean(arr5, axis=1)

In [ ]:
ml5

In [ ]:
arr2

In [ ]:
mean3mean = np.nanmean(arr2, axis=0)
mean3mean

In [ ]:
mean3mean = np.nanmean(arr2, axis=1)
mean3mean

In [ ]:
arr2

In [ ]:
np.isnan(arr2)

In [81]:
a=np.array([(17,12,np.nan,3),(30,np.nan,44,59),(78,34,98,12),(22,np.nan,78,np.nan)])

In [82]:
a

array([[17., 12., nan,  3.],
       [30., nan, 44., 59.],
       [78., 34., 98., 12.],
       [22., nan, 78., nan]])

In [83]:
x = a

In [84]:

x

array([[17., 12., nan,  3.],
       [30., nan, 44., 59.],
       [78., 34., 98., 12.],
       [22., nan, 78., nan]])

In [85]:
np.isnan(x)

array([[False, False,  True, False],
       [False,  True, False, False],
       [False, False, False, False],
       [False,  True, False,  True]])

In [86]:
xlog=np.isnan(x)
x[xlog]=0
x

array([[17., 12.,  0.,  3.],
       [30.,  0., 44., 59.],
       [78., 34., 98., 12.],
       [22.,  0., 78.,  0.]])

In [98]:
a=np.array([(17,12,np.nan,3),(30,np.nan,44,59),(78,34,98,12),(22,np.nan,78,np.nan)])

In [99]:
a

array([[17., 12., nan,  3.],
       [30., nan, 44., 59.],
       [78., 34., 98., 12.],
       [22., nan, 78., nan]])

In [100]:
y = a

In [101]:
y

array([[17., 12., nan,  3.],
       [30., nan, 44., 59.],
       [78., 34., 98., 12.],
       [22., nan, 78., nan]])

In [102]:
ym=np.nanmean(y, axis=0)

In [103]:
ym

array([36.75      , 23.        , 73.33333333, 24.66666667])

In [105]:
inds=np.where(np.isnan(y))

In [106]:
y[inds]=np.take(ym, inds[1])

In [107]:
print(y)

[[17.         12.         73.33333333  3.        ]
 [30.         23.         44.         59.        ]
 [78.         34.         98.         12.        ]
 [22.         23.         78.         24.66666667]]